// Colors

$primary-color: #3e7fff;
$body-color: #f8f8f8;
$header-color: white;
$footer-color: white;
$main-color: transparent;
$sidebar-color: #3e7fff;


// Fonts

$primary-font: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$primary-font-color: #162232;

// Breakpoints

$max-container-width: 1200px;

$laptop-width: 1200px;
$tablet-width: 992px;
$mobile-width: 768px;
$small-mobile-width: 576px;

